.list-container {
  .list-wrapper {
    display: flex;
    flex-wrap: wrap;
    .cell-wrapper {
      width: 33.33%;
      display: flex;
      justify-content: center;
      margin-bottom: 15rpx;
    }
  }
}